<div class="mt-4 d-flex justify-content-between" style="position: relative;">
	<input type="text" id="searchField" [ngModel]="searchTerm" style="width: 250px; height: 30px" (ngModelChange)="search($event)"/>
	<span class="fas fa-search" style="position: absolute; left: 224px; top: 6px"></span>
	<div>
		<label>Complexity: </label>&nbsp;
		<select [(ngModel)]="selectedComplexity" (ngModelChange)="onComplexityChange($event)">
			<option value="">None</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
	</div>
</div>
<div class="mt-4" *ngIf="questions && questions.length === 0">
	<h1>There are no questions for this vacancy.</h1>
</div>
<div id="panelSteps" class="panel panel-default mt-5">
	<ol class="item-steps list-group">
		<li class="list-group-item mb-2" *ngFor="let question of pageOfItems" [ngbTooltip]="tooltipContent" placement="top">
			<div class="d-flex justify-content-between">
				<div class="d-flex align-items-baseline">
					<span>{{question.id}}.</span>&nbsp;
					<h6 style="width: 733px" [innerHTML]="question.content"></h6>
				</div>
				<div>
					<button type="button" class="btn btn-outline-primary mr-2" [routerLink]="['/question/edit/', question.id, vacancyId]"><span class="fas fa-pencil-alt"></span> Edit</button>
					<button type="button" class="btn btn-outline-danger pull-right" (click)="openDeletionDialog(question.id)"><span class="fas fa-trash"></span> Delete</button>
				</div>
			</div>
			<ng-template #tooltipContent>
				<div>
					<p>Category: {{question.category}}</p>
					<p>Type: {{question.type}}</p>
					<p>Complexity: {{question.complexity}}</p>
				</div>
			</ng-template>
		</li>
	</ol>
</div>
<div class="d-flex justify-content-center mt-4">
	<pagination [pageSize]="10" [items]="questions" (changePage)="onChangePage($event)"></pagination>
</div>